@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Remove outline around text input boxes in Chrome */
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/* Hide arrows from input number   */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button {
    height: 10px;
    width: 10px;
    padding-right: 10px;
}

/* Links */
.link {
    text-decoration: none;
}

a:hover {
    color: white;
}

:root {
    --swiper-navigation-size: 25px;
}

.main {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: black;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #313339;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: #15171e;
    color: white;
}

.main-wrapper {
    flex: 1;
}

.wrapper {
    max-width: 1130px;
    margin: 0 auto;
}

.large-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px;
}

footer {
    background: #15171e;
    color: white;
}


/* Contact us page */

.contact__header {
    text-align: center;
    margin: 35px 0px;
}

.contact__title {
    font-size: 20px;
    color: #ddd;
}

.contact__description {
    color: rgba(255, 255, 255, 0.8);
}

.contact__wrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
}

.contact-form {
    width: 370px;
}

.contact-form__fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}

.contact-form__label-textarea {
    width: 100%;
    margin-bottom: 10px;
}

.contact-form__text {
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}

.contact-form__input {
    height: 35px;
    border: none;
}

.contact-form__textarea {
    width: 100%;
    border: none;
}

.contact-form__btn {
    border: none;
    padding: 8px 18px;
    border: 1px solid #d53a9d;
    color: white;
    background: #15171e;
}

.contact-form__btn-text {
    font-variant-caps: all-small-caps;
    font-size: 20px;
}

.contact__info {
    margin-top: 35px;
}

.contact__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.contact__info-link {
    color: #111;
    display: flex;
    align-items: center;
}

.contact__info-link:hover {
    color: #111;
}

.contact__info-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #d53a9d;
    transition: transform 300ms ease;
    cursor: pointer;
}

.contact__info-circle:hover {
    transform: scale(1.1);
}

.contact__img {
    font-size: 22px;
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
}

.contact__img-nav {
    left: 10px;
}

.contact__info-text {
    color: white;
    margin-left: 10px;
}

/* Size of the div element that contains the map */
#map {
    height: 250px;
    width: 100%;
}