@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Remove outline around text input boxes in Chrome */
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/* Hide arrows from input number   */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button {
    height: 10px;
    width: 10px;
    padding-right: 10px;
}

/* Links */
.link {
    text-decoration: none;
}

a:hover {
    color: white;
}

:root {
    --swiper-navigation-size: 25px;
}

.main {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: black;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #313339;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: #15171e;
    color: white;
}

.main-wrapper {
    flex: 1;
}

.wrapper {
    max-width: 1130px;
    margin: 0 auto;
}

.large-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px;
}

footer {
    background: #15171e;
    color: white;
}
