@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Remove outline around text input boxes in Chrome */
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/* Hide arrows from input number   */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button {
    height: 10px;
    width: 10px;
    padding-right: 10px;
}

/* Links */
.link {
    text-decoration: none;
}

a:hover {
    color: white;
}

:root {
    --swiper-navigation-size: 25px;
}

.main {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: black;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #313339;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: #15171e;
    color: white;
}

.main-wrapper {
    flex: 1;
}

.wrapper {
    max-width: 1130px;
    margin: 0 auto;
}

.large-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px;
}

footer {
    background: #15171e;
    color: white;
}


@media screen and (max-width: 992px) {
    .app__container {
        max-width: 800px;
    }
}



.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 37px;
    padding-bottom: 8px;
    padding-top: 30px;
}

.detail-title {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.game__title {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.game__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.swiper-container {
    width: 860px;
}

.mySwiper {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

.swiper-wrapper {
    overflow: visible;
    visibility: visible;
    padding: 0;
}

.swiper-wrapper .swiper-slide {
    opacity: 0;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
    margin: 0;
    border: none;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.swiper-wrapper .swiper-slide-active {
    opacity: 1;
    visibility: visible;
}

.swiper-wrapper .swiper-slide-visible {
    cursor: pointer;
}

.fa-play-icon {
    position: absolute;
    top: 50%;
    right: 50%;
    color: white;
    font-size: 18px;
}

.swiper-button-prev {
    left: 40px;
}

.swiper-button-next {
    right: 40px;
}

.thumbs {
    width: 860px;
    height: 9%;
    padding: 10px 0;
    margin-bottom: 40px;
}

.thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.thumbs .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game__description {
    color: white;
    line-height: 23px;
    font-size: 15px;
    width: 860px;
    max-height: 400px;
    overflow: hidden;
}

.game__description-full {
    max-height: 100%;
    overflow: visible;
    transition: max-height .5s ease-in;
}

.game__description-title {
    font-size: 22px;
}

.game__details {
    margin: 25px 0px;
}

.game__details-item {
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.details__category {
    font-size: 18px;
    color: #ddd;
}

.details__content-link {
    color: white;
    margin-right: 10px;
}

.details__content-link:hover {
    text-decoration: none;
}

.description-features-point {
    margin-bottom: 7px;
}

.collapse-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #15171e;
    background: #505258;
    border-radius: 2px;
}

.collapse-btn-text {
    color: white;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    margin-right: 5px;
}

.game-buy-box {
    position: sticky;
    top: 100px;
    height: 357px;
}

.game-buy-box .game__image {
    width: 360px;
    height: 360px;
}

.game-buy-box .game__price {
    color: #ddd;
    font-size: 20px;
    margin: 10px 0px;
}

.game-buy-box .game__purchase {
    margin-bottom: 15px;
}

.game-buy-box .game__buy-btn {
    background: #15171e;
    border: 1px solid #d53a9d;
    width: 100%;
    height: 45px;
    color: white;
}

.game-buy-box .game__buy-btn-text {
    font-variant-caps: all-small-caps;
    font-size: 20px;
}

.game-buy-box .game__cart-btn {
    background: #15171e;
    border: 1px solid white;
    width: 100%;
    height: 45px;
    color: white;
}

.game-buy-box .game__cart-btn-text {
    font-variant-caps: all-small-caps;
    font-size: 20px;
}

.game__requirements {
    width: 860px;
    margin-bottom: 40px;
}

.game__requirements-title {
    padding: 16px 0;
    border-bottom: 1px solid #ffffff1f;
}

.requirements__header {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid #ffffff1f;
}

.requirements__title {
    margin-right: 15px;
    padding: 12px 0px;
}

.requirements__title:hover {
    border-bottom: 1px solid #d53a9d;
    padding-bottom: 11px;
    cursor: pointer;
}

.active-title {
    font-weight: bold;
    border-bottom: 1px solid #d53a9d;
    padding-bottom: 11px;
}

.requirements__box {
    display: none;
}

.active-box {
    display: block;
}

.requirements__row {
    display: flex;
    color: white;
    padding-top: 12px;
}

.requirements__label {
    margin-right: 7px;
}

/* RATING STARS */

.card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff;
}

.ratingStar:hover {
    color: #FBC02D;
}

.off {
    color: #6c757d;
}

.star {
    color: #FBC02D;
}

.rating-label {
    font-weight: bold;
}

/* Rating bar width */
.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

/* Individual bars */
.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;

}

.bar-4 {
    width: 30%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;

}

.bar-3 {
    width: 20%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;

}

.bar-2 {
    width: 10%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;

}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;

}

td {
    padding-bottom: 10px;
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px;
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer;
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blue-text {
    color: #0091EA;
}

.content {
    font-size: 18px;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px;
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.vote {
    cursor: pointer;
}