.detailHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 35px;
    padding-bottom: 10px;
    padding-top: 30px;
}

.detailTitle {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.gameTitle {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.gameContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.gameBoxLeft {
    width: 860px;
}

.gameTrailerBox {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

.gameDescriptionBox {
    color: white;
    line-height: 23px;
    font-size: 15px;
    width: 860px;
    max-height: 400px;
    overflow: hidden;
}


.gameDetails {
    margin: 25px 0px;
}

.gameDetailsItem {
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.detailsCategory {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 5px;
}

.detailsContentItem {
    color: white;
    margin-right: 10px;
}

.gameBoxRight {
    position: sticky;
    top: 100px;
    height: 357px;
    display: flex;
    flex-wrap: wrap;
}

.gameImage {
    width: 360px;
    height: 360px;
    margin-bottom: 20px;
}

.gamePrice {
    color: #ddd;
    font-size: 20px;
    margin: 10px 0px;
}

.gameAddToCartBtn {
    background: #15171e;
    border: 1px solid #d53a9d;
    margin: auto;
    color: white;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    padding: 5px 45px;
    transition: transform 300ms ease;
}

.gameAddToCartBtn:hover {
    transform: scale(1.05);
}

.gameAddToCartIcon {
    font-size: 15px;
    margin-left: 7px;
}

/* RATING STARS */

.commentSectionWrapper {
    text-align: center;
    margin-top: 100px;
}

.commentSectionTitle {
    font-size: 20px;
    color: #ddd;
}

.ratingStars {
    margin: 15px 0px;
}

.ratingStar:hover {
    color: #FBC02D;
}

.off {
    color: #6c757d;
}

.star {
    color: #FBC02D;
}

.inputComment {
    color: #15171e;
    font-size: 20px;
    font-weight: bold;
}

.inputCommentValMsg {
    color: red;
    font-size: 17px;
}

/* END OF RATING STARS */

.submitComment {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 5px 50px;
    border: 1px solid #d53a9d;
    background: #15171e;
    color: white;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    transition: transform 300ms ease;
}

.submitComment:hover {
    transform: scale(1.05);
}

.allCommentsSection {
    margin: 80px 0px
}

.allCommentsTitle {
    font-size: 20px;
    color: #ddd;
    margin-bottom: 20px;
}

.commentCard {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.commentCardContent {
    width: 1000px;
}

.cardActionIcon {
    font-size: 18px;
}

.commentCardAuthor {
    font-weight: bold;
}

.noCommentsMessage {
    font-size: 27px;
    color: #ddd;
    font-weight: bold;
}