.containerCheckout {
    background-color: #fff;
    padding: 10px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 50px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col25 {
    flex: 25%;
}

.col50 {
    flex: 50%;
}

.col75 {
    flex: 75%;
}

.col25,
.col50,
.col75 {
    padding: 0 16px;
}

.formField {
    margin-bottom: 20px;
}

input[type=text], input[type=number] {
    width: 100%;
    margin-bottom: 5px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.label {
    margin-bottom: 10px;
    display: block;
}

.iconContainer {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.cardIcon {
    margin-right: 5px;
}

.btnBox {
    text-align: center;
    margin-top: 10px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 250px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover{
    background-color: #05ca82;
}

.validationError {
    color: red;
    font-weight: bold;
}

.orderBox {
    width: 500px;
    padding: 0 16px;
}

.productItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderTotal {
    font-weight: bold;
    float: right;
    padding: 5px;
}

