@keyframes slideIn {
    from {
        transform: translateY(5%);
    }

    to {
        transform: translateY(0%);
    }
}

.cart {
    color: white;
    animation: slideIn .5s ease;
    display: block;
    position: absolute;
    top: 50px;
    right: -4px;
    background-color: #d53a9d;
    border-radius: 3px;
    width: 400px;
    z-index: 100;
    border-width: 0px
}

.cart::after {
    bottom: 100%;
    left: 72%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #d53a9d;
    border-width: 8px;
    margin-left: -1px;
}

.cartHeader {
    border-bottom: 1px solid #313339;
    text-align: center;
}

.cardBody {
    padding: 0px
}

.cartEmptyMsg {
    color: white;
    background: #15171e;
    padding: 50px;
    text-align: center;
}

.cartEmptyMsgTitle {
    font-size: 22px;
}

.cartEmptyMsgDscr {
    font-size: 15px;
    color: #ffffff86;
    margin-top: 10px;
}

.cartShopBox {
    transition: transform 300ms ease;
    margin-top: 20px;
}

.cartShopLink {
    color: white;
    text-decoration: none;
    width: 200px;
    background: #15171e;
    border: 1px solid #d53a9d;
    margin: auto;
    color: white;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    padding: 10px 60px;
    margin-top: 20px;
}

.cartShopBox:hover {
    transform: scale(1.05);
}

.cartItems {
    padding: 20px;
    background: #15171e;
}

.cartTotal {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #313339;
    background: #15171e;
}

.cartCheckout {
    background: #15171e;
    text-align: center;
}

.cartCheckoutLink {
    text-decoration: none;
    background: #15171e;
    border: 1px solid #d53a9d;
    margin: auto;
    color: white;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    padding: 5px 45px;
}

.cartCheckoutLinkWrap {
    transition: transform 300ms ease;
}

.cartCheckoutLinkWrap:hover {
    transform: scale(1.05);
}