.bannerWrapper {
    width: 100%;
    height: 675px;
    padding-top: 240px;
    background-size: cover;
}

.bannerMessage {
    margin-left: 35px;
}

.bannerTitle {
    color: #ddd;
    font-size: 30px;
    font-weight: bold;
}

.bannerTitleDescription {
    color: #ddd;
    font-size: 20px;
}

.myInfoWrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.myInfoBox {
    width: 500px;
    min-height: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: white;
    margin-top: -200px;
}

.infoBoxHeader {
    color: #15171e;
    font-size: 20px;
    border-bottom: 1px solid #15171e;
    text-align: center;
    padding-bottom: 10px;
}

.infoBoxContent {
    margin-top: 40px;
    text-align: center;
}

.infoBoxHeadings {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

.infoCommentCard {
    border-radius: 5px;
    border: 1px solid #15171e;
    background-color: #fff;
    margin-top: 10px;
}

.comment {
    text-align: left;
    margin-left: 10px;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.commentViewBtn:hover {
    font-weight: bold;
}

.noActivityMessage {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

/* rating star */

.off {
    color: #6c757d;
}

.star {
    color: #FBC02D;
}
