.widgetContainer {
    margin: 134px auto;
}

.productsWidget {
    text-align: center;
}

.productsWidgetTitle {
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #ddd;
    font-size: 22px;
}

.productsWidgetCards {
    display: flex;
    justify-content: space-between;
}