/* Banner */

.banner {
    width: 100%;
    height: 675px;
    padding-top: 240px;
    background-size: cover;
}

.bannerTitle {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 45px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.bold {
    font-weight: 600;
}

.bannerSearch {
    display: flex;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.bannerSearchInput {
    border: 1px solid #ddd;
    border-radius: 24px;
    width: 100%;
    height: 50px;
    padding-right: 55px;
    padding-left: 15px;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(87, 59, 132, 0.6);
}

.bannerSearchButton {
    margin: auto;
    margin-left: -50px;
    width: 46px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(to right, #212340 0%, #8E95B0 51%, #212340 100%);
    transition: 0.5s;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: inline-block;
    background-size: 200% auto;
}

.bannerSearchButton:hover {
    background-position: right center;
}

.bannerSearchButtonImage {
    display: block;
    margin: auto;
    color: #ddd;
}